body {
  background-color: #f5f6fa;
}
.main {
  height: 100vh;
}

.search-container {
  display: flex;
  align-items: center;
}

.map-container {
  height: 500px;
}

#map {
  border-radius: 12px;
  overflow: hidden;
}

.chart-container {
  height: 300px;
  margin-left: 0;
  margin-right: 0;

  display: flex;
  flex-wrap: nowrap;
}

.chart-container .col-6 {
  background-color: #eff2f6;
  border-radius: 12px;
}

.linear-chart {
  height: 100%;
}

.title-container h1 {
  color: #fc3c3c;
  margin-bottom: 0;
}

.title-container h4 {
  text-transform: uppercase;
  color: #cacbcf;
}

.stats-container .card {
  background-color: #eff2f6;
  border-radius: 12px;
  height: 100%;
}
.stats-container .cases-card {
  border-bottom: 2px solid #1d2c4d;
}
.stats-container .active-cases-card {
  border-bottom: 2px solid #9d80fe;
}
.stats-container .recovered-cases-card {
  border-bottom: 2px solid #7dd71d;
}
.stats-container .deaths-cases-card {
  border-bottom: 2px solid #fd4443;
}
.stats-container .card:active,
.stats-container .cases-card {
  background-color: rgb(92, 92, 92);
  box-shadow: 0 0 15px 1px #ababab;
  color: #eee;
}
.stats-container .card:hover {
  background-color: rgb(100, 100, 100);

  cursor: pointer;
  /* box-shadow: 0 0 15px 1px #ababab; */
}

.stats-container .card-body {
  padding: 1rem;
}
.side-panel-container {
  background-color: #eff2f6;
  border-radius: 30px 0 0 30px;
  padding-right: 0;
}
.table-container {
  height: 500px;
  overflow: scroll;
}
.side-panel-container .table {
  border-radius: 30px 0 0 30px;
}
.total-number {
  color: #1d2c4d;
}
.active-number {
  color: #9d80fe;
}
.recovered-number {
  color: #7dd71d;
}
.deaths-number {
  color: #fd4443;
}
#table-data img {
  height: 25px;
  width: 25px;
  margin-right: 5px;
  border-radius: 50%;
}
